.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  height: 7.2rem;
  width: 7.2rem;
  border-radius: 16px;
  background-color: #fff;
  color: #000;
}

.swiper-button-prev {
  height: 7.2rem;
  width: 7.2rem;
  border-radius: 16px;
  background-color: #fff;
  color: #000;
}
.swiper-button-next::after {
  font-size: 1.6rem;
  font-weight: 800;
}

.swiper-button-prev::after {
  font-size: 1.6rem;
  font-weight: 800;
}

.swiper-button-disabled {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  opacity: 1 !important;
}

.swiper-pagination{
  bottom: -0.4rem !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

@media (max-width: 992px) {
  .swiper {
    width: 25.6rem;
    height: 28.4rem;
  }

  .swiper-slide img {
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination{
    display: none;
  }
}

@media (min-width: 993px) {
  .mySwiper2 {
    display: none;
  }
}

.mySwiper2{
  margin-top: 2.4rem;
}