* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f15156;
  --white: #ffffff;
  --text: #d9d9d9;
  --black: #000;
  --secondary: #0d3b66;
  --dark-red: #e44449;
  --pastel: rgba(253, 236, 237, 0.15);
  --bg-card: rgba(241, 81, 86, 0.3);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialised;
  /* background-color: #f15156; */
  background-color: #f15156;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* .header{
  
} */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  height: 8rem;
}

.navlink {
  display: flex;
  gap: 6.2rem;
}

.navlink a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
  transition: all 300ms ease-in-out;
}

.navlink a:hover {
  filter: brightness(0.8);
}

@media (max-width: 992px) {
  .header-container {
    display: none;
  }
}

/* Primeira Seção */

.hero-container {
  width: 100%;
}

.hero-content {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-section {
  margin-top: 6.4rem;
  display: flex;
  width: 100%;
  gap: 10.4rem;
}

.intro-section {
  padding-top: 9.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.intro-section img {
  width: 10rem;
  height: 3.2rem;
}

.logo-wrapper {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.intro-section-title {
  color: var(--white);
  display: block;
  font-size: 7.2rem;
  margin-top: 7.2rem;
  letter-spacing: -0.2rem;
  max-width: 51.9rem;
  text-align: left;
  width: fit-content;
  line-height: 110%;
}

.intro-section > p {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 8rem;
  max-width: 41.3rem;
  width: fit-content;
}

.intro-image-section {
  max-width: 59.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.access-button {
  background-color: var(--dark-red);
  border-radius: 20px;
  padding: 4rem 5rem;
}

.access-button button {
  all: unset;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.2rem;
  background-color: var(--white);
  color: var(--secondary);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;

  transition: all 300ms ease-in-out;
}

.access-button button:hover {
  filter: brightness(0.8);
}

.hero-shape {
  background-color: var(--dark-red);
  border-radius: 20px 20px 0 0;
  padding: 2.4rem 0;
  overflow: hidden;
}

.shape-section-hero {
  display: flex;
  flex: 1;
  background-color: var(--dark-red);
  height: calc(65.7rem - 9.8rem);
  align-self: flex-end;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}

@media (max-width: 992px) {
  .hero-content {
    padding: 1.6rem;
  }
  .hero-section {
    flex-direction: column;
    gap: 3.2rem;
  }

  .logo-wrapper {
    flex-direction: column;
    align-self: flex-start;
  }

  .logo-wrapper img {
    align-self: flex-start;
  }

  .logo-wrapper p {
    padding-left: 0.8rem;
    font-size: 1.4rem;
  }

  .intro-section-title {
    display: block;
    margin-top: 3.6rem !important;
    font-size: 4.4rem;
    max-width: 26.4rem;
    width: 100%;
  }

  .intro-section > p {
    display: none;
  }

  .intro-section {
    padding-top: 5.6rem;
  }

  .intro-image-section {
    gap: 0;
  }

  .access-button {
    background-color: transparent;
    margin-top: -12rem;
  }

  .access-button button {
    font-size: 1.4rem;
    height: 5.6rem;
  }
}

/* Segunda Seção */

.about-container {
  width: 100%;
  background-color: var(--white);
}

.about-content {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.about-section {
  display: flex;
  gap: 6.4rem;
}

.about-section-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 8rem;
}

.about-section-info > strong {
  color: var(--secondary);
  font-weight: bold;
  font-size: 4.8rem;

  max-width: 54.5rem;
  width: 100%;
}

.grid-cards {
  display: grid;
  margin-top: 5.6rem;
  grid-template-columns: 280px 280px;
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-rows: 3fr; */
  gap: 3.2rem;
}

.grid-card {
  width: 100%;
  background-color: var(--pastel);
  border: 1px solid var(--bg-card);
  padding: 3.2rem;
  border-radius: 20px;
}

.grid-card > p {
  color: var(--black);
  font-size: 1.4rem;
  margin-top: 2.4rem;
}

.subgrid-card {
  grid-column: 1 / -1;
  background-color: var(--pastel);
  border: 1px solid var(--bg-card);
  padding: 3.2rem;
  border-radius: 20px;
}

.subgrid-card > p {
  color: var(--black);
  font-size: 1.4rem;
  margin-top: 2.4rem;
}
